# Run Time Dependencies
wheel >= "0.38.4"
setuptools >= "67.1.0"
pyspark==3.3.1
findspark>=2.0.1

# Development Dependencies
mypy >= "0.991"
py-spy >= "0.3.14"
pytest >= "7.2.0"
pytest-mock >= "3.10.0"
pytest-cov >= "4.0.0"
pdoc >= "12.3.1"

# Failing due to Clang not finding C++ libraries...
# bpython >= "0.23.0"     # Missing cstdlib
# line-profiler >= "4.0.2" # Missing #include "ios"